@import "../../global.scss";

li{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    height: 30%;
    text-align: center;
    display: inline;

    &.active{
        background-color: $mainColor;
        color: white;
        overflow: hidden;
        height: 50px;
        text-align: center;
    }
}